

body {
background-color: white;


}
.topweb {
    height: 85px;
    background-color:  red;
    display: flex;
    margin: -10px;
    max-width: 110%;
}

.box-dt {
    width: 20%;
    height: 50%;
    background-color:  blue;
    position: relative;
    left:60%;
}

.temp {
    width: 10%;
    height: 50%;
    background-color: green;
    position: relative;
    left: 90%;
    display:flex;
}
#partly {
    width: 35px;
    height: 35px;
    position: relative;
    top: 10%;
}
#number-temp {
    font-family: "Lato" ;
    color:white;
    font-size: 20px;
    position: relative;
    left: 20%;
    bottom: 40%;
}

#date-time {
    font-family: "Lato";
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 30%;
    left: 5%;
}