

body {
background-color: white;
max-width: 100%;
overflow-x: hidden;

}
.topweb {
    height: 85px;
    background-color:  red;
    display: flex;
    margin: -10px;
    max-width: 102%;
}

.box-dt {
    width: 30%;
    height: 50%;
    background-color:  blue;
    position: relative;
    left:50%;
    font-family: "Raleway";
}

.temp {
    width: 10%;
    height: 50%;
    background-color: green;
    position: relative;
    left: 90%;
    display:flex;
}

.nav{
    height: 40px;
    background-color: gray;
    max-width: 102%;
    margin: -10px;
    position: relative;
    top: 8px;
}
.headline{
    height: 40px;
    background-color: orange;
    max-width: 102%;
    margin: -10px;
    position: relative;
    top: 16px;
    border-style: none none solid none;
}
.main{
    height: 1000px;
    background-color: pink;
    max-width: 102%;
    margin: -10px;
}
#partly {
    width: 35px;
    height: 35px;
    position: relative;
    top: 10%;
}
a:link {
    text-decoration: none;
    color: white;
}
#number-temp {
    font-family: "Raleway" ;
    color:white;
    font-size: 20px;
    position: relative;
    left: 20%;
    bottom: 40%;
}

#date-time {
    font-family: "Raleway";
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 38%;
    left: 14%;
    display:flex;
}
#boro {
    font-family: "Raleway";
    position: relative;
    right: 26px;
    font-size: 15px;
    bottom: 1px;
    color: white;
}
#v {
    position: relative;
    right: 4%;
    font-size: 20px;
    bottom: 18px;
}